:host {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
}
/* .left-column {
  display: flex;
  flex-direction: column;
  width: 100%;
} */
.buttons-box {
  width: 90%;
}
@media (min-width: 570px) {
  .buttons-box {
    width: 90%;
    /* align-items: center; */
  }
  .right-column {
    box-sizing: border-box;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  :host {
    flex-direction: column;
    width: 100%;
  }
  .main {
    flex-direction: row;
    padding: 0 5%;
    height: 95vh;
  }
  .left-column {
    width: 70%;
    margin: auto;
    /*align-items: stretch;*/
  }
  .right-column {
    width: 30%;
    justify-content: center;
    /*align-items: stretch;*/
  }
}
