:host {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/* .left-column {
  display: flex;
  flex-direction: column;
  width: 100%;
} */
.buttons-box {
  width: 90%;
}
@media (min-width: 570px) {
  .buttons-box {
    width: 90%;
    /* align-items: center; */
  }
  .right-column {
    box-sizing: border-box;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  :host {
    flex-direction: row;
    width: 95%;
    height: 100%;
  }
  .left-column {
    width: 70%;
  }
  .right-column {
    width: 30%;
  }
}