<!-- <div class="buttons-box"> -->
  <button
  (click)="this.encryptorService.encrypt()"
  [disabled]="this.encryptorService.itsEncrypted"
  [ngClass]="this.encryptorService.itsEncrypted ? 'disabled-button' : 'abled-button'"
  >
    Encriptar
  </button>
  <button
  (click)="this.encryptorService.encrypt()"
  [ngClass]="this.encryptorService.itsEncrypted ? 'disabled-button' : 'abled-button'" [disabled]="!this.encryptorService.itsEncrypted">Desencriptar</button>
  <button>Consologuear</button>
<!-- </div> -->
<!-- [ngClass]="step == 'step1' ? 'my_class1' : 'my_class2'" -->

<!-- asdenter -->
