.buttons-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 90%;
  margin: 16px auto;
}
button {
  width: 328px;
  height: 67px;
  border: 1px solid #0A3871;
  border-radius: 24px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
button:first-child {
  background: #0A3871;
  color: white;
}
button:last-child {
	background: #F3F5FC;
  color: #0A3871;
}