button {
  height: 67px;
  border: 1px solid #0A3871;
  border-radius: 24px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: #0A3871;
  color: white;
}
button:disabled {
	background: #F3F5FC;
  color: #C1C1C3;
  border: 1px solid #C1C1C3;
}